:root {
  --main-blue: #012fb4;
  --main-orange: #fe5a00;
  --black: #363636;
  --skyBlue: #E9EEFA;
  --orange: #FEBA4C;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
}
section {
  overflow-x: hidden;
}
article {
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, li {
  list-style: none;
}
.header a {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10000;
}
.header a img {
  border: 1px solid #fff;
}
.caption {
  font-size: 12px;
  color: #bbb;
}
.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}
circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}
.bg {
  stroke: var(--main-orange);
  opacity: 0.2;
}
.progress .indicator {
  stroke: var(--main-orange);
}
.blue_bg { background: var(--main-blue);}
.blue_bg h4, .blue_bg p {color: white}
.white_bg { background: #fff;}
.skyBlue_bg { background: var(--skyBlue);}
.white_bg h4, .white_bg p, .skyBlue_bg h4, .skyBlue_bg p {color: var(--black)}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__buttons {
  display: flex;
  justify-content: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(230, 230, 230), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(234, 234, 234);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(192, 192, 192);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}